body {
  background-color: hsl(0, 2%, 12%);
  color: white;
  overflow: scroll;
}

h1 {
  text-align: center;
}

.todo-wrapper {
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px hsl(0, 0%, 11%);
}

.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid hsl(0, 0%, 31%);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.todo-input-item label {
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-item input {
  padding: 8px;
  border: none;
  width: 250px;
}

.todo-input-item input:focus {
  outline: none;
  outline: 2px solid rgb(0, 230, 122);
} /* SIL */

.primaryBtn {
  background-color: hsl(152, 100%, 45%);
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0px 0px 30px black;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content; /* or 60px */
  cursor: pointer;
  transition: background-color 400ms;
}

.primaryBtn:hover {
  background-color: hsl(152, 100%, 35%);
}

.secondaryBtn {
  background-color: hsl(0, 0%, 28%);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.active {
  background-color: rgb(0, 230, 122);
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.btn-area {
  margin-bottom: 15px;
}

.todo-list-item {
  background-color: hsl(0, 1%, 25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 25px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgb(43, 43, 43)
}

.todo-list-item h3 {
  font-size: 25px;
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin: 0;
}

.todo-list-item p {
  font-size: 14px;
  color: rgb(161, 161, 161);
  margin-top: 8px;
}

.icon {
  font-size: 35px;
  cursor: pointer;
  color: hsl(0, 100%, 50%);
  transition: color 400ms;
}

.icon:hover {
  color: hsl(0, 100%, 40%);
}

.check-icon {
  font-size: 35px;
  margin-left: 10px;
  cursor: pointer;
  color: hsl(152, 100%, 45%);
  transition: color 400ms;
}

.check-icon:hover {
  color: hsl(152, 100%, 35%);
}